html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgba(255, 255, 255, 0) !important;
    position: relative;

}
h2{
    
}
.container{
    height: auto !important;
    width: 98%;
    /* equal to footer height margin-bottom: -100px; */

}
#canvas{
    height: 100% !important;
    width: 100% !important;
}


/*#canvas > div.xforms-group-content:after{
                content: '';
                display: block;
                clear: both;
            }*/

.form{
    /*border:1px solid black;*/
    /*position:absolute;*/
    /*height: auto !important;
                width: auto;*/
    width:200px;
    float:left;
}
.top{
    position: relative;
    background-color: #abc1bb;
    font-size: 13px;
    height: 30px;
    /*padding-right: 16px;*/
    color: #434343;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.del::after{
    content: "X";
}
.del[delete-all]{
    background-color: pink;
}
.del,
.node-collapse{
    position: relative;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 13px;
    height: 20px;
    padding: 1px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 20px;
}
.node-collapse{
    right: 29px;
    text-align: center;
}
.node-collapse::after{
    content: "-";
}
.group-container{
    /*width: 50px;*/
    height: auto;
    border-radius: 12px;
    background-color: transparent;
    font-size: 12px;
    cursor: move;
}
.group-container.collapsed{
    height: 40px;
}
.form-body{
    display: inline-block;
    position: relative;
    /*overflow-x: scroll;*/
    cursor: pointer;
    /* margin: 3px;
    padding: 5px;*/
    height: auto;
    /*width: 50px;*/
    background-color: transparent;
    border-radius: 0.5em;
    border: 1px dotted #346789;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}
.form-body h3 {
	margin:0;
}
.source{
    display: inline-block;
    position: relative;

    cursor: pointer;
    /* margin: 3px;
    padding: 5px;*/
    height: 5px;
    /*width: 100%;*/
    background-color: transparent;
    /*border-radius: 0.5em;
    border: 1px solid #346789;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;*/
}
img {
	margin:0;
	
}
.image {
	border:none;
}
.group-container.collapsed .node-collapse:after{
    content: "+";
}

.del[delete-all]{
    background-color: pink;
}

.jtk-connector path{
    stroke-width: 1;
}

.jtk-group-collapsed .group-body,
.jtk-group-collapsed .source{
    display: none;
}

.jtk-drag-hover{
    outline: 4px solid cornflowerblue;
}
/*.links line{
                stroke: #999;
                stroke-opacity: 0.6;
             
            }*/
.links{
    z-index:50000;
}
.nodes circle{
    stroke: #fff;
    stroke-width: 1.5px;
}
.link{
    stroke: #ccc;
}

.target{
    fill: #000;
    stroke: #fff;
    stroke-width: 1.5px;
    /*margin: 10px;*/
}
.hidden {
    
}
.visible{
    
    
}
    

div.xforms-dialog {
    background-color: transparent !important;
    border-color: transparent !important;
    border-style: none !important;
    border-width: 0px !important;
    box-sizing: border-box;    
    height: 300px;
    padding: 10px;
    position: absolute;
    width: 400px;    
}