<!-- /*--><css><![CDATA[/**/
@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xf "http://www.w3.org/2002/xforms";

.xforms-item{
    display: inline;
    margin-right: 3px;
}
.heading{
    color: black;

}
#sub{


}

#wrapper{
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
}

#viz-wrapper{
    width: 100%;
    height: 90%;

}

svg|svg#viz{
    width: 100%;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid gray;
    background-color: black;
}
#legend-wrapper{
    float: right;
    width: 500px;

}
svg|svg#legend{
    width: 100%;
}
svg|text{
    font: 12px sans-serif;
    pointer-events: none;
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgba(255, 255, 255, 0) !important;
    position: relative;

}
h2{
    font-size: smaller;
}
.container{
    height: auto !important;
    width: 98%;
    /* equal to footer height margin-bottom: -100px; */

}
#canvas{
    height: 100% !important;
    width: 80% !important;
}


/*#canvas > div.xforms-group-content:after{
                content: '';
                display: block;
                clear: both;
            }*/

.form{
    /*border:1px solid black;*/
    /*position:absolute;*/
    /*height: auto !important;
                width: auto;*/
}
.top{
    display: none;
    background-color: #abc1bb;
    font-size: 13px;
    height: 30px;
    padding-right: 16px;
    color: #434343;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.del::after{
    content: "X";
}
.del[delete-all]{
    background-color: pink;
}
.del,
.node-collapse{

    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    font-size: 13px;
    height: 20px;
    padding: 1px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 20px;
}
.node-collapse{
    right: 29px;
    text-align: center;
}
.node-collapse::after{
    content: "-";
}
.group-container{
    width: 200px;
    height: auto;
    border-radius: 12px;
    background-color: WhiteSmoke;
    font-size: 12px;
    cursor: move;
}
.group-container.collapsed{
    height: 40px;
}
.form-body{
    display: inline-block;
    position: relative;
    overflow-x: scroll;
    cursor: pointer;
    margin: 3px;
    padding: 5px;
    height: auto;
    width: 180px;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid #346789;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}
.source{
    display: inline-block;
    position: relative;

    cursor: pointer;
    margin: 3px;
    padding: 5px;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid #346789;
    -moz-border-radius: 0.5em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}
.group-container.collapsed .node-collapse:after{
    content: "+";
}

.del[delete-all]{
    background-color: pink;
}

.jtk-connector path{
    stroke-width: 1;
}

.jtk-group-collapsed .group-body,
.jtk-group-collapsed .source{
    display: none;
}

.jtk-drag-hover{
    outline: 4px solid cornflowerblue;
}
/*.links line{
                stroke: #999;
                stroke-opacity: 0.6;
            }*/

.nodes circle{
    stroke: #fff;
    stroke-width: 1.5px;
}
.link{
    stroke: #ccc;
}

.target{
    fill: #000;
    stroke: #fff;
    stroke-width: 1.5px;
    margin: 10px;
}
/*]]>*/
<!-- /*--></css><!--*/
-->